header{
    color: lightyellow;
    background: #4c6580;
  }

header{
    text-align: center;
    padding: 10px;
    margin-left: 0;
    background-image: url("../header.png");
    background-size: 100%;
    font-size: 120%;
/*    display: inline-block;*/
  }
button{
margin: 2rem auto;
max-width:400px;
border:none;
color: white;
border-radius: .25rem;
font-size: 1.125rem;
padding: 20px 60px;
cursor:pointer

}	


.votre_bouton{

background:linear-gradient(135deg, #F5515F 0%,#A1051D 100%);
animation: nom_anim_bouton 1s infinite alternate

}

@keyframes nom_anim_bouton{

from{

box-shadow:0 0 5px hsl(0,53%,46%)

}
to{

box-shadow:0 0 15px hsl(0,50%,46%)

}

}	

.votre_bouton1{

background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);


}

.votre_bouton1:hover{

animation:nom_anim_bouton1 1s infinite alternate

}



iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

@keyframes nom_anim_bouton1{

from{

box-shadow:0 0 5px #6078ea

}

to{

box-shadow:0 0 15px hsl(230, 77%, 25%) 

}

}


footer{
    font-size: 130%;
    background: #ffffff;


